
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: #050505;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle at 20% 30%, rgba(0,255,255,0.15), transparent 60%),
    radial-gradient(circle at 80% 70%, rgba(255,0,255,0.15), transparent 60%);
  animation: moveGlow 8s infinite alternate;
  z-index: 0;
}






.container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  width: 450px;
  padding: 35px;
  background: rgba(10, 10, 10, 0.55);
  border-radius: 20px;
  border: 2px solid #00eaff99;
  box-shadow: 0 0 30px #00eaff55, inset 0 0 15px #00eaff33;
  text-align: center;
  backdrop-filter: blur(10px);
  animation: neonPulse 3s infinite alternate;
}

@keyframes neonPulse {
  0% {
    box-shadow: 0 0 20px #00eaff33, inset 0 0 10px #00eaff11;
  }
  100% {
    box-shadow: 0 0 35px #00eaffaa, inset 0 0 20px #00eaff55;
  }
}


.titulo {
  color: #00eaff;
  margin-bottom: 20px;
  font-size: 32px;
  letter-spacing: 2px;
  text-shadow: 0 0 12px #00faff, 0 0 25px #0099ff;
}


.input {
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #00eaff55;
  background: #000;
  color: #00f6ff;
  margin-top: 10px;
  text-align: center;
  box-shadow: inset 0 0 10px #00eaff33;
}


.texto-salida {
  margin-top: 10px;
  color: #99ffff;
}


.btn, .btn-macro {
  padding: 12px 20px;
  background: #000;
  border: 2px solid #00eaff;
  border-radius: 10px;
  color: #00faff;
  cursor: pointer;
  margin: 10px 5px;
  transition: 0.25s;
  text-shadow: 0 0 10px #00eaff;
}

.btn:hover, .btn-macro:hover {
  background: #00eaff33;
  box-shadow: 0 0 20px #00eaff;
}


.grid-botones {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}


.bg-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 160px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 3px #00eaffaa;
  text-shadow:
      0 0 25px #00eaff,
      0 0 50px #00aaff,
      0 0 70px #ff00ff55,
      0 0 120px #00eaffaa;
  pointer-events: none;
  user-select: none;
  opacity: 0.12;
  animation: neonColorShift 6s infinite alternate, bgNeonPulse 4s infinite ease-in-out;

  z-index: 10000000;
  
}

@keyframes bgNeonPulse {
  0% {
    opacity: 0.08;
    text-shadow:
      0 0 20px #00eaff,
      0 0 40px #0088ff,
      0 0 80px #00eaff;
  }
  50% {
    opacity: 0.13;
    text-shadow:
      0 0 30px #ff00ff,
      0 0 60px #ff00ff,
      0 0 120px #9900ff;
  }
  100% {
    opacity: 0.10;
    text-shadow:
      0 0 25px #00ffaa,
      0 0 55px #00ffaa,
      0 0 90px #00ffcc;
  }
}


  


